# ---------------- Audio ----------------
yt-dlp
pydub

# ---------------- Whisper ----------------
openai-whisper
torch==2.2.2
torchaudio==2.2.2

# ---------------- Translation ----------------
requests
python-dotenv
deep-translator

# ---------------- LangChain ----------------
langchain
langchain-core
langchain-community
langchain-mistralai

# ---------------- RAG ----------------
chromadb
langchain-chroma
langchain-huggingface
sentence-transformers

# ---------------- UI ----------------
streamlit

# ---------------- PDF ----------------
reportlab
fpdf2

# ---------------- Utils ----------------
numpy
tqdm